* text=auto

*.go text eol=lf
*.md text eol=lf
*.json text eol=lf
*.mjs text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary

.gitignore export-ignore
.gitattributes export-ignore
.releaserc.json export-ignore
commitlint.config.mjs export-ignore
